<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>Edit Scan</title>
</head>
<body>
<header th:insert="~{nav :: navbar}"></header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container text-content">

        <h1>Edit Scan</h1>
        <form method="post" th:action="@{/scans/edit/{id}(id=${scan.id})}" th:object="${scan}">
            <input th:field="*{id}" type="hidden" />

            <div class="form-group">
                <label class="form-label">Scan Date: </label>
                <input class="form-control" th:field="*{scanDate}"/>
                <div class="alert alert-warning" th:errors="*{scanDate}"></div>
            </div>
            <div class="form-group">
                <label class="form-label">Scan Type:</label>
                <select class="form-control" id="type" th:field="*{scanType}">
                    <option value="">--SELECT TYPE--</option>
                    <option th:each="tp : ${types}" th:value="${tp.id}" th:text = "${tp.scanType}"></option>
                </select>
                <div class="alert alert-warning" th:errors="*{scanType}"></div>
            </div>
            <div class="form-group">
                <label class="form-label">Employee:</label>
                <select class="form-control" id="type" th:field="*{employee}">
                    <option value="">--SELECT EMPLOYEE--</option>
                    <option th:each="em : ${employees}" th:value="${em.employeeCardNumber}" th:text = "${em.employeeLastName}"></option>
                </select>
                <div class="alert alert-warning" th:errors="*{employee}"></div>
            </div>

            <input class="btn btn-primary" type="submit" value="Edit"/>
        </form>
        <div>
            <a th:href="@{/scans}">Go Back</a>
        </div>

    </div>
</div>

<footer class="fixed-bottom" th:insert="~{footer :: footer}"></footer>
</body>
</html>