<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>STAS Demo systems - All Scans</title>
</head>
<body>
<header th:insert="~{nav :: navbar}"></header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container text-content">
        <h3>Scan List</h3>
        <table class="table" th:unless="${scans == null}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="scan: ${scans}">
                <td>
                    <span th:text="${scan.id}"></span>
                </td>
                <td>
                    <span th:text="${scan.scanDate}"></span>
                </td>
                <td>
                    <a th:href="@{/scans/{id}(id=${scan.id})}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
        <p th:if="${scans == null || scans.isEmpty()}">
            No Scans Found
        </p>
    </div>
</div>

<footer class="fixed-bottom" th:insert="~{footer :: footer}"></footer>
</body>
</html>