<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Users password change</title>
</head>
<body>
<header th:insert="~{nav :: navbar}"></header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container text-content">

        <h1>Users password change</h1>
        <form method="post" th:action="@{/users/password/{id}(id=${user.id})}" th:object="${user}">
            <input th:field="*{id}" type="hidden" />
            <input th:field="*{userName}" type="hidden"/>

                <select  id="role" th:field="*{role}" hidden>
                      <option th:each="rl : ${roles}" th:value="${rl.id}" th:text = "${rl.roleName}"></option>
                </select>


            <div class="form-group">
                <label class="form-label">Type New Password here: </label>
                <input class="form-control" th:field="*{password}"/>
                <div class="alert alert-warning" th:errors="*{password}"></div>
            </div>

            <input class="btn btn-primary" type="submit" value="Edit"/>
        </form>
        <div>
            <a th:href="@{/users}">Go Back</a>
        </div>

    </div>
</div>

<footer class="fixed-bottom" th:insert="~{footer :: footer}"></footer>
</body>
</html>