<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
<header th:insert="~{nav :: navbar}"></header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container text-content">

        <h1>Create New Employee</h1>
        <form method="post" th:action="@{/employee/create}" th:object="${employee}">
            <div class="form-group">
                <label class="form-label">Employee First Name: </label>
                <input class="form-control" th:field="*{employeeFirstName}"/>
                <div class="alert alert-warning" th:errors="*{employeeFirstName}"></div>
            </div>

            <div class="form-group">
                <label class="form-label">Middle Initial: </label>
                <input class="form-control" th:field="*{middleInitial}"/>
                <div class="alert alert-warning" th:errors="*{middleInitial}"></div>
            </div>

            <div class="form-group">
                <label class="form-label">Employee Last Name: </label>
                <input class="form-control" th:field="*{employeeLastName}"/>
                <div class="alert alert-warning" th:errors="*{employeeLastName}"></div>
            </div>

            <div class="form-group">
                <label class="form-label">Employee Card: </label>
                <input class="form-control" th:field="*{employeeCardNumber}"/>
                <div class="alert alert-warning" th:errors="*{employeeCardNumber}"></div>
            </div>


<!--            <div class="form-group">-->
<!--                <label class="form-label">User Type:</label>-->
<!--                <select class="form-control" id="role" th:field="*{role}">-->
<!--                    <option value="">&#45;&#45;SELECT ROLE&#45;&#45;</option>-->
<!--                    <option th:each="rl : ${roles}" th:value="${rl.id}" th:text = "${rl.roleName}"></option>-->
<!--                </select>-->
<!--                <div class="alert alert-warning" th:errors="*{role}"></div>-->
<!--            </div>-->

            <input class="btn btn-primary" type="submit" value="Create"/>
        </form>
        <div>
            <a th:href="@{/employee}">Go Back</a>
        </div>

    </div>
</div>

<footer class="fixed-bottom" th:insert="~{footer :: footer}"></footer>
</body>
</html>