<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{styles.css}">
    <meta charset="UTF-8">
    <title>STAS Demo systems - All Employees</title>
</head>
<body>
<header th:insert="~{nav :: navbar}"></header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container text-content">
        <h3>Employee List</h3>
        <table class="table" th:unless="${employee == null}">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp: ${employee}">
                <td>
                    <span th:text="${emp.id}"></span>
                </td>
                <td>
                    <span th:text="${emp.employeeFirstName + ' ' + emp.middleInitial + ' ' + emp.employeeLastName}"></span>
                </td>
                <td>
                    <a th:href="@{/employee/{id}(id=${emp.id})}">Details</a>
                    <a th:href="@{/employee/edit/{id}(id=${emp.id})}"> | Edit</a>
                    <a th:href="@{/employee/delete/{id}(id=${emp.id})}"> | Hide</a>
                </td>
            </tr>
            </tbody>
        </table>
        <p th:if="${employee == null || employee.isEmpty()}">
            No Employee Found
        </p>
    </div>
</div>

<footer class="fixed-bottom" th:insert="~{footer :: footer}"></footer>
</body>
</html>